.container2{
  width: 600px;
  height: 100px;
  overflow: hidden;
  position: relative;
  

}
.container2 span{
  font-size: 40px;
  position: absolute;
  font-weight: 600;
  font-family: "Times New Roman";
color: #8bd6a8;
  left: 0;
  top: 0;
  animation: animasyon 10s ease-in-out infinite;
  animation-fill-mode:backwards ;
  transform: translateY(-100px);
  opacity: 0;
}
.container2 span:nth-child(2){
  animation-delay: 3s;
}
.container2 span:nth-child(3){
  animation-delay: 6s;
}


@keyframes animasyon{
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
  5%{
    transform: translateY(0px);
    opacity: 1;
  } 
  30%{
    transform: translateY(0px);
    opacity: 1;
  }
  40%{
    transform:translateY(100px) ;
    opacity: 0;
  }
  100%{
    transform: translateY(100px);
    opacity: 0;
  }



}